<footer id="footer">
  <div class="container">
    
    <div class="row pt-4">
      <div class="col-4 text-left">
        <div>
          <h5><strong>HackShop Portal</strong></h5>
        </div>
        <div>
          <ul>
            <li><a href="" class="footer-list left">About</a></li>
            <li><a href="" class="footer-list left">Career</a></li>
          </ul> 
        </div>
      </div>
      <div class="col-4 text-center">
        <div>
          <h5><strong>Social Media</strong></h5>
        </div>
        <div>
          <a href=""><img src="<%= dataAssets.fbImg %>" class="footer-icon" width="22px" alt="facebook"></a>
          <a href=""><img src="<%= dataAssets.fsImg %>" class="footer-icon" width="22px" alt="friendster"></a>
          <a href=""><img src="<%= dataAssets.igImg %>" class="footer-icon" width="22px" alt="instagram"></a>
        </div>
      </div>
      <div class="col-4 text-right">
        <div>
            <strong>&copy; 2021 Fathur & Naufal</strong>
        </div>
        <div>
          All right reserved.
        </div>
      </div>
    </div>
  </div>
</footer>
</body>
</html>