<footer id="footer">
  <div class="container">
    <div class="row pt-4">
      <div class="col-4 text-left">
        <div>
          <strong>HackShop Portal</strong>
        </div>
        <div>
          <ul>
            <li><a href="">About</a></li>
            <li><a href="">Career</a></li>
          </ul> 
        </div>
      </div>
      <div class="col-4 text-center">
        <div>
          <strong>Social Media</strong>
        </div>
        <div>
          Instagram FB Friendster
        </div>
      </div>
      <div class="col-4 text-right">
        <div>
          <p>
            <strong>&copy; 2021 Fathur & Naufal</strong>
          </p>
        </div>
        <div>
          <p>All right reserved.</p>
        </div>
      </div>
    </div>
  </div>
</footer>
</body>
</html>