<%- include('../partials/header', { title: 'HackShop Job'}) %>
<h1><%= item.name %></h1>
<div class="item-content">
  <div class="row">
    <div class="col">
      img
    </div>
    <div class="col">
      Name
      price
      stock
      edit
      delete
    </div>
  </div>
  <div class="row">
    <div class="col">
      description
    </div>
  </div>
</div>
<%- include('../partials/footer') %>
