<%- include('../partials/header', { title: 'HackShop Job', isLandingPage: false }) %>
<section id="seller-item-edit">
  <div class="container">
    <h1 class="text-center my-4">Edit Item</h1>
    <div class="d-flex justify-content-center">
      <div class="w-50 bg-light p-5" id="seller-item-content">
        <form action="/seller/items/<%= item.id %>/edit" method="POST" enctype="multipart/form-data">
          <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name" name="name">
          </div>
          <div class="form-group">
            <label for="price">Price</label>
            <input type="number" class="form-control" id="price" name="price">
          </div>
          <div class="form-group">
            <label for="stock">Stock</label>
            <input type="number" class="form-control" id="stock" name="stock">
          </div>
          <div class="form-group">
            <label for="description">Description</label><br>
            <textarea name="description" class="form-control" id="description"></textarea>
          </div>
          <div class="form-group">
            <label for="imageUrl">Image</label><br>
            <input type="file" name="imageUrl" id="imageUrlno">
          </div>
          <div class="text-center">
            <button type="submit" class="btn btn-primary btn-seller-edit">Edit</button>
            <a href="/seller" class="btn btn-outline-danger btn-seller-edit">Cancel</a>
          </div>
        </form> 
      </div>
    </div>
  </div>  
</section>
<%- include('../partials/footer') %>
