<%- include('../partials/header', { title: 'HackShop Job'}) %>
<h1>Seller Page</h1>
<div class="item-content">
  <div>
    chart
  </div>
  <a href="">List Item</a>
  <a href="">Seller Profile</a>
</div>
<%- include('../partials/footer') %>
