<%- include('../partials/header', { title: 'HackShop Job', isLandingPage: false }) %>
<section id="seller-main-content">
  <div class="h-100 container d-flex justify-content-center align-items-start">
    <div>
      <h1>Seller Page</h1>
      <h5>Hello, Naufal, here's your Sale Performance</h5>
      <div class="item-content">
        <div>
          chart
        </div>
        <a href="">List Item</a>
        <a href="">Seller Profile</a>
      </div>
    </div>
  </div>
</section>
<%- include('../partials/footer') %>
