body {
  margin: 0;
  padding: 0;
  color: #171717;
  background-color: #EDEDED;
  font-family: 'Raleway', sans-serif;
}

div {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

.middle
{
    position: relative;
}

.middle:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #DA0037;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out;
}

.middle:hover:before {
  visibility: visible;
  transform: scaleX(1);
}

.right
{
    position: relative;
}

.right:before {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  right: 0;
  background-color: #DA0037;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}

.right:hover:before {
  visibility: visible;
  width: 100%;
}

.left
{
    position: relative;
}

.left:before {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #DA0037;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}

.left:hover:before {
  visibility: visible;
  width: 100%;
}

#footer {
  background-color: #444444;
  height: 15vh;
  color: #EDEDED;
}

#landing-page-jumbotron {
  height: 100vh;
  background-size: cover;
  color: #EDEDED;
  margin-top: -56px;
}

#landing-page-jumbotron-bg {
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
}

#landing-page-about {
  height: 20vh;
}

.item-img {
  width: 100px;
  height: 100px;
  display: inline-block;
}

.item-desc {
  font-weight: bold;
}

.btn-def {
  background: white;
  color: black;
  padding: 5px 30px;
  font-weight: bold;
  border: 2px solid #171717;
  letter-spacing: 1px;
  box-shadow: 0;
  margin-top: 10px;
}

#footer ul {
  color: #EDEDED;
}

li a:hover {
  color: black;
}

#search-bar {
  width: 450px;
  height: 30px;
  border-radius: 15px;
  background-color: white;
  padding-top: 3px;
  padding-left: 15px;
  padding-right: 15px;
}

#search-bar-input {
  height: 24px;
  border: none;
  width: 100%;
  font-size: 14px;
}

#search-bar-input:focus {
  outline: none;
}

#search-bar-input::placeholder {
  font-size: 13px;
  font-style: italic;
}

.navbar {
  background-color: rgba(0, 0, 0, 0);
}

.nav-menu-list {
  color: inherit;
}

.nav-menu-list:hover {
  color: inherit;
}

.footer-title {
  font-size: 16px;
}

.footer-list {
  color: #EDEDED;
}

.footer-list:hover {
  color: #EDEDED;
}

.footer-icon {
  margin: 0 2px;
  filter: invert(99%) sepia(4%) saturate(315%) hue-rotate(256deg) brightness(112%) contrast(86%);
}

.footer-icon:hover {
  filter: invert(52%) sepia(0%) saturate(5018%) hue-rotate(216deg) brightness(96%) contrast(83%);
}

#seller-main-content {
  min-height: calc(100vh - 21vh);
}

#seller-item-lists {
  min-height: calc(100vh - 21vh);
}

#seller-item-edit {
  min-height: calc(100vh - 21vh);
}

.nav-text-light {
  color: #444444;
}

.nav-text-dark {
  color: #EDEDED;
}

.btn-seller-action {
  width: 100px;
}

.btn-seller {
  width: 100px;
}

#seller-item-content {
  border: 1px solid #A9A9A9;
  border-radius: 15px;
}

#dropdown-sort {
  width: 200px;
}

.card-manual {
  margin: 18px 26px;
  height: 300px;
  width: 225px;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 10px 12px 19px -7px rgba(0,0,0,0.1);
  -webkit-box-shadow: 10px 12px 19px -7px rgba(0,0,0,0.1);
  -moz-box-shadow: 10px 12px 19px -7px rgba(0,0,0,0.3);
  background-color: #FFF;
}

.card-manual-img {
  height: 50%;
}

.card-manual-info-title {
  color: #606060;
  margin-top: 8px;
  margin-left: 10px;
  text-overflow: ellipsis;
}

.card-manual-info-price {
  height: 28px;
  margin-top: -4px;
  margin-left: 18px;
  font-size: 18px;
  color: #444444;
}

.card-manual-info-buy {
  position: absolute;
  bottom: 0;
  height: 40px;
}

.card-manual-info-buy a {
  color: #444444;
  font-weight: bold;
  font-size: 18px;
}

#buyer-item-detail {
  min-height: calc(100vh - 21vh);
}

#buyer-item-detail-img {
  height: 400px;
  width: 400px;
}

#buyer-item-detail-img-tag {
  max-width: 100%;
  max-height: 100%;
}

#item-detail-desc {
  text-align: justify;
}

#item-detail-btn-atc button {
  border: none;
  background-color: #499fb5;
  color: white;
  padding: 5px 25px;
  font-weight: bold;
  font-size: 20px;
}

#login {
  min-height: calc(100vh - 21vh);
}

#register {
  min-height: calc(100vh - 21vh);
}

#edit-profile {
  min-height: calc(100vh - 21vh);
}

#cart {
  min-height: calc(100vh - 21vh);
}

#seller-item-add {
  min-height: calc(100vh - 21vh);
}

.image-fit {
  max-width: 100%;
  max-height: 100%;
}