<%- include('../partials/header', { title: 'HackShop Job', isLandingPage: false }) %>
<section id="buyer-item-detail">
  <div class="container">
    <div class="row mt-5">
      <div class="col-6">
        <div class="w-100 d-flex justify-content-center">
          <div id="buyer-item-detail-img" class="bg-info">
            Image
          </div>
        </div>
      </div>
      <div class="col-6">
        <div>
          <div id="item-detail-title">
            <h3>Macbook Pro 16"</h3>
          </div>
          <div id="item-detail-price">
            <h5>
              <strong>
                Rp 500,000
              </strong>
            </h5>
          </div>
          <div id="item-detail-seller" class="mt-3">
            <strong>Seller</strong>
            <p>Naufal Budiman</p>
          </div>
          <div id="item-detail-desc">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatibus molestiae fuga, placeat obcaecati facilis consequatur dolor laborum blanditiis officiis modi ipsa aut dignissimos impedit repudiandae architecto saepe dolores adipisci omnis!
            Quibusdam est voluptatem soluta accusantium obcaecati illo magnam aut consectetur nemo labore, id dolorum repellat beatae laudantium ex eius maxime assumenda officia sequi. Impedit fugiat quos explicabo quasi dignissimos necessitatibus?
          </div>
          <div id="item-detail-btn-atc" class="text-center mt-3">
            <a href=""><button>Add Item</button></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<%- include('../partials/footer') %>
