<%- include('../partials/header', { title: 'HackShop Job', isLandingPage: false }) %>
<section id="seller-item-lists">
  <div class="container">
    <h1 class="text-center my-4">Item Lists</h1>
    <div class="d-flex justify-content-between">
      <div>
        <p>Menampilkan 1 barang untuk <strong>"MacBook"</strong></p>
      </div>
      <div id="dropdown-sort">
        <select name="" id="" class="form-control" onchange="window.location = `?sort=${this.options[this.selectedIndex].value}`">
          <option value="date-asc">Tanggal Terlama</option>
          <option value="date-desc">Tanggal Terbaru</option>
          <option value="price-asc">Harga Termurah</option>
          <option value="price-desc">Harga Termahal</option>
        </select>
      </div>
    </div>
    <div class="d-flex flex-wrap justify-content-between">
      <div class="card-manual">
        <div class="card-manual-img bg-info"></div>
        <div class="card-manual-info h-50">
          <div class="h-100 position-relative">
            <div class="card-manual-info-title">
              <h5>Nama Barang</h5>
            </div>
            <div class="card-manual-info-price">
              <p>
                <strong>
                  Rp 500,000
                </strong>
              </p>
            </div>
            <div class="card-manual-info-buy w-100 d-flex justify-content-center align-items-center">
              <p>
                <a href="" class="middle">
                  Add to Cart
                </a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<%- include('../partials/footer') %>
